{% load static %}
<!DOCTYPE html>
<html lang="kr">
    <head>
		<title>질문</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>

    <body class="is-preload">
        <div id="wrapper">
				
            <!-- Header -->
            <!-- Note: The "styleN" class below should match that of the banner element. -->
                <header id="header" class="logo">
                    <a href="/" class="logo"><strong>1조</strong> <span>자취방 구해조</span></a>
                </header>

                <div id="main" class="alt">

                    <!-- One -->
                        <section id="one">
                            <div class="inner">
                                <header class="major">
                                    <h1>{{board.title}}</h1>
                                    <p>작성자 : {{board.writer}}</p>
                                    <p>작성시간 : {{board.pub_date}}</p>
                                </header>
                                <span class="image main"><img src="images/pic11.jpg" alt="" /></span>
                                <p>{{board.body}}</p>
                                <br><br><br><br><br><br>
                                <div style="display:flex;">
                                    <form style="width: 13%;" action = "{% url 'home' %}"><button>글 목록</button></form>
                                    <form style="width: 13%;" action = "{% url 'edit' board.id %}"><button type="submit">수정하기</button></form>
                                    <form style="width: 13%;" action = "{% url 'delete' board.id %}"><button type="submit">삭제하기</button></form>
                                </div>
                                
                            </div>
                            
                        </section>
                </div>        
        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="{% static 'javascript/jquery.min.js' %}"></script>
        <script src="{% static 'javascript/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'javascript/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'javascript/browser.min.js' %}"></script>
        <script src="{% static 'javascript/breakpoints.min.js' %}"></script>
        <script src="{% static 'javascript/util.js' %}"></script>
        <script src="{% static 'javascript/main.js' %}"></script>
    </body>
</html>